{% extends "base.html" %}
 
{% block css_js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calc.css') }}"> 
<script src ="{{ url_for('static', filename='js/calc.js') }}"></script>
{% endblock %}

{% block main %}

<div class="calcblock">
    <div class = "left_box">
        <div class = "titlebox">
            <h6>Sum of two integers</h6>
        </div>
        <div class = "sum_opp">
                <div>
                <label for="number1"></label>
                <label for="number2"></label>
                <input type="text" id="number1" name = "number1" /> 
                <label>+</label>
                <input type="text" id="number2" name = "number2"/>
                <p class = "S_ans">Answer: </p>
                <button class = "Submitbtn" type="submit">Submit</button>
                </div>
               
        </div>
        
        
    </div>   
  
    <div class = "mid_box">
        <div class = "titlebox2">
            <h6>Product of two integers</h6>
            
        </div>
        <div class = "mul_opp">
            
                <div>
                <label for="number1"></label>
                <label for="number2"></label>
                <input type="text" id="Mnumber1" name = "Mnumber1" /> 
                <label>x</label>
                <input type="text" id="Mnumber2" name = "Mnumber2"/>
                <p class = "M_ans">Answer: </p>
                <button class = "SubmitbtnMul"type="submit">Submit</button>

                </div>
                
        </div>
        
        
    </div>

    <div class = "right_box">
        <div class = "titlebox">
            <h6>Temperature Conversion</h6>
            
        </div>
        <div class = "temp_opp">
            
                <div>
                <label for="number"></label>
                <input type="text" id="number" name = "number" /> 
                <p class = "T_ans">Answer: </p>
                <button class = "temp" type="submit">Submit</button>
                </div>
                
                

        </div>
        
        
    </div>
   
</div>

{% endblock %}




