{% extends "base.html" %}
 
{% block css_js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/calc.css') }}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='js/calc.js') }}">
{% endblock %}

{% block main %}

<div class="calcblock">
    <div class = "left_box">
        <div class = "titlebox">
            <h6>Sum of two integers</h6>
            
        </div>
        <div class = "sum_opp">
            <form action="/sum" method="get">
                <div>
                <label for="number1"></label>
                <label for="number2"></label>
                <input type="text" id="number1" name = "number1" /> 
                <label>+</label>
                <input type="text" id="number2" name = "number2"/>
                <p>Answer: <script>"calc.js"</script></p>
                </div>
                <button type="submit">Submit</button>
               </form> 

        </div>
        
        
    </div>   
  
    <div class = "mid_box">
        <div class = "titlebox">
            <h6>Product of two integers</h6>
            
        </div>
        <div class = "mul_opp">
            <form action="/sum" method="get">
                <div>
                <label for="number1"></label>
                <label for="number2"></label>
                <input type="text" id="number1" name = "number1" /> 
                <label>x</label>
                <input type="text" id="number2" name = "number2"/>
                <p>Answer: </p>
                </div>
                <button type="submit">Submit</button>
               </form> 

        </div>
        
        
    </div>

    <div class = "right_box">
        <div class = "titlebox">
            <h6>Temperature Conversion</h6>
            
        </div>
        <div class = "temp_opp">
            <form action="/temp" method="get">
                <div>
                <label for="number"></label>
                <input type="text" id="number" name = "number" /> 
                <p>Answer: </p>
                </div>
                <button type="submit">Submit</button>
               </form> 

        </div>
        
        
    </div>
    <!-- <p>This webpage is about {{ name }}.</p>  -->
</div>

{% endblock %}

