{% extends "base.html" %}
 
{% block css_js %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> 
<script src="https://code.highcharts.com/highcharts.js"></script> 
<script src="https://code.highcharts.com/modules/series-label.js"></script> 
<script src="https://code.highcharts.com/modules/exporting.js"></script> 
<script src="https://code.highcharts.com/modules/export-data.js"></script> 
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src ="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src ="{{ url_for('static', filename='js/mqttws31.js') }}"></script>
{% endblock %}

{% block main %}



<div class="dashboardblock">
    <div class="header"> 
        <h1>Home Automation Dashboard</h1>
        </div> 
        
        <hr> 
        <div id="messages">

        </div>
        <div id="status"></div>
        <hr> 
        
        
        <!-- <div class="controls"> -->
            
            <h1>Controls</h1>
            <ul class="dashboard"> 
        
            <li class="dashboard_item kitchen"> 
                <h4>Kitchen</h4>
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt="" 
                width = "50"
                height="60"/>
                
                <p>OFF</p>                    
            </li> 

            <li class = "dashboard_item bathroom">
                <h4>Bathroom</h4>
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt=""  
                width = "50"
                height="60"/>
                <p>OFF</p>
                </li>

            <li class="dashboard_item livingroom"> 
                <h4>LivingRoom</h4> 
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt=""  
                width = "50"
                height="60"/>
                <p>OFF</p>
                 </li> 

            <li class="dashboard_item hall"> 
                <h4>Hall</h4>
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt="" 
                width = "50"
                height="60"/>
                <p>OFF</p>
                </li> 

            <li class="dashboard_item studyRoom"> 
                <h4>StudyRoom</h4>
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt="" 
                width = "50"
                height="60"/>
                <p>OFF</p>
                </li> 

            <div class="dashboard_item bedRoom"> 
                <h4>BedRoom</h4> 
                <button class = "lightbtn"><img src="{{url_for('static',filename='images/button.png')}}" alt="" 
                    width = "50"
                    height="50"/> </button>
                <img src="{{url_for('static',filename='images/bulboff.png')}}" alt=""  
                width = "50"
                height="60"/>
                <p>OFF</p>
                </div> 
            


                <li class="dashboard_item frontdoor"> 
                <h4>Front Door</h4> 
                <img src="{{url_for('static',filename='images/doorclosed.png')}}" alt="" 
                width = "45"
                height="50"/>
                <p>CLOSED</p>  
                </li> 

            <li class="dashboard_item balcony_door"> 
                
                    <h4>Balcony Door</h4> 
                    <img src="{{url_for('static',filename='images/doorclosed.png')}}" alt=""
                    width = "45"
                    height="50"/>
                    <p>CLOSED</p> 
                    </li> 

            <!-- </ul>  -->
            
    </div>
    <figure class="highcharts-figure"> 
        <div id="livedata"></div> 
    </figure>
    <div class="date"><span>Start</span> 
        <input id="start" type="date" placeholder="Start"> 
        <span>End</span> 
        <input id="end" type="date" placeholder="End"> 
        <button class="plot">Plot</button>
        <figure class="highcharts-figure"> 
            <div id="container"></div> 
        </figure>
    </div> 
   
</div>

{% endblock %}

