.aboutblock{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 900px;
    img{
        max-width: 400px ;
        width: 100%;
    }
}